1) Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [1]:
import numpy as np
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
n = len(ks)
zp_m = np.mean(zp)
print(zp_m)
ks_m = np.mean(ks)
print(ks_m)

101.4
709.9

In [2]:
zp_d = [i-zp_m for i in zp]
print(zp_d)
ks_d = [i-ks_m for i in ks]
print(ks_d)

[-66.4, -56.400000000000006, 88.6, 98.6, -61.400000000000006, -31.400000000000006, -47.400000000000006, 48.599999999999994, 18.599999999999994, 8.599999999999994]
[-308.9, -135.89999999999998, 164.10000000000002, 209.10000000000002, -250.89999999999998, 29.100000000000023, -56.89999999999998, 192.10000000000002, 36.10000000000002, 122.10000000000002]

In [3]:
print('cov элементарными операциями: ', sum([i*j for i, j in zip(zp_d,ks_d)])/n)

cov элементарными операциями:  9157.84

In [4]:
cov = np.cov(zp, ks, ddof=0)[0][1]
print('cov библиотечной функцией: ', cov)

cov библиотечной функцией:  9157.84

In [5]:
zp_sd = np.std(zp)
print('sd для zp:', zp_sd)
ks_sd = np.std(ks)
print('sd для zp:', ks_sd)

sd для zp: 59.115480206118605
sd для zp: 174.55340157098058

In [6]:
cor = cov/(zp_sd * ks_sd)
cor

0.8874900920739162

In [7]:
np.corrcoef(zp, ks)[1][0]

0.8874900920739162

In [8]:
import pandas as pd
df = pd.DataFrame({'Зарплата': zp, 'Кредитный скоринг': ks} )
df

   Зарплата  Кредитный скоринг
0        35                401
1        45                574
2       190                874
3       200                919
4        40                459
5        70                739
6        54                653
7       150                902
8       120                746
9       110                832

In [9]:
df.cov()
# Не удалось победить данную функцию, она упорно считает ковариацию по несмещенной дисперсии
# Говорят, что новая версия библиотеки имеет параметр ddof, но моя - нет

                       Зарплата  Кредитный скоринг
Зарплата            3882.933333       10175.377778
Кредитный скоринг  10175.377778       33854.322222

In [10]:
df.corr()

                   Зарплата  Кредитный скоринг
Зарплата            1.00000            0.88749
Кредитный скоринг   0.88749            1.00000

2) Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.

Известно, что в генеральной совокупности IQ распределен нормально.

Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [11]:
iq = (131, 125, 115, 122, 131, 115, 107, 99, 125, 111)
iq

(131, 125, 115, 122, 131, 115, 107, 99, 125, 111)

In [12]:
X_ = np.mean(iq)
X_

118.1

In [13]:
SD = np.std(iq)
SD

10.004498987955369

In [14]:
SE = SD/((len(iq)-1)**.5)
SE

3.334832995985123

In [15]:
from scipy import stats
t = stats.t.isf(0.05/2, 9)
t

2.262157162740992

In [16]:
print('Левая граница: ', X_-(SE*t))
print('Правая граница: ', X_+(SE*t))

Левая граница:  110.55608365158724
Правая граница:  125.64391634841274

3) Известно, что рост футболистов в сборной распределен нормально с дисперсией генеральной совокупности, равной 25 кв.см. <br> Объем выборки равен 27, среднее выборочное составляет 174.2. <br>
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [17]:
n = 27
x_ = 174.2
mu = 25**.5
mu

5.0

In [18]:
se = mu/(n-1)**.5
se

0.9805806756909202

In [19]:
sg = stats.norm.isf(0.05/2)
sg

1.9599639845400545

In [20]:
print('Левая граница: ', x_-(se*sg))
print('Правая граница: ', x_+(se*sg))

Левая граница:  172.27809719170983
Правая граница:  176.12190280829014